html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

.fw-divider-solid {
  border-bottom: 1px #0e2b61 solid;
}
.menu-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
}

.flr {
  float: right;
}

.wap-his-call {
  height: 470px;
  overflow-y: auto;
}

.histrory-call {
  padding: 4px 0;
  border-bottom: 1px dotted #ccc;
}
.histrory-call:hover {
  background: #cccccc38;
}
.user_name {
  font-size: 14px;
  font-weight: bold;
}
.flex-his {
  display: flex;
  justify-content: space-between;
}

.text-title-his-call {
  color: #0c0c0c;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.histrory-call .pull-right h4 a,
.histrory-call .pull-right h4 {
  padding: 0px 0px 3px;
  margin: 0;
}
.media-left {
  margin-right: 10px;
}
.pull-right p {
  margin: 6px 0 0 0;
  color: #575757;
  font-size: 14px;
}
.his-body {
  text-align: center;
}
.his-body p {
  margin: 0;
}
.miss-color {
  color: red !important;
}
.his-call-txt-time {
  /* margin-left: 6px; */
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.tooltip-his-call {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip-his-call .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-his-call .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip-his-call:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.coupontooltip {
  background: #c8c8c8;
  margin-left: 28px;
  padding: 10px;
  position: absolute;
  z-index: 1000;
  width: 200px;
  height: 100px;
}
.couponcode {
  margin: 100px;
}

.tooltipD {
  display: none;
  background-color: yellow;
  color: black;
  position: absolute;
  border-radius: 6px;
  padding: 5px 0;
  text-align: center;
  width: 120px;
}
.scrollpane-his-call {
  height: 428px;
  overflow: auto;
}

.wap-his-call::-webkit-scrollbar {
  width: 8px;
}
.wap-his-call::-webkit-scrollbar-track {
  background-color: white;
}
.wap-his-call::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border: 1px solid rgb(92 92 92 / 0%);
  border-radius: 10px;
}

.avatar-his-call {
  width: 46px;
  height: 46px;
  border-radius: 24px;
}
.loadMore p:hover {
  color: #0099e5;
  text-decoration: underline;
  cursor: pointer;
}
