/* .calling {
  background: #3b3b3b;

  color: #fff;
  text-align: center;
  height: 524px;

  border-bottom-right-radius: 3ch;
  border-bottom-left-radius: 3ch;
}

.calling .hint {
  background: #bd4130;
  border: 0;
  width: 100%;
  clear: both;
  color: #fff;
  height: 45px;
  border-bottom-left-radius: 3ch;
  border-bottom-right-radius: 3ch;
}

.calling .hint:hover {
  opacity: 0.8;
}

.avatar {
  width: 90px;
  margin: 38px 0;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #07830b;
}

.ac__calling {
  width: 100%;
  display: flex;
  background: #0c0c0c;
  height: 44px;
  line-height: 4.5rem;
}

.ct__calling {
  width: 25%;
}

.calling h4 {
  font-size: 20px;
  color: #fff;
}

.calling p {
  color: #ccc;
  font-size: 14px;
}

.text-algin {
  text-align: left;
  padding-left: 20px;
}

.icon__calling {
  width: 30px;
}

.btn-bus {
  display: flex;
}

.calling .btn-default {
  width: 30%;
  height: 40px;
  background: none;
  color: #fff;
  border: 0;
  margin-bottom: 20px;
  font-size: 30px;
}
.calling .btn-default span {
  display: block;
  color: #999;
  font-size: 10px;
  font-weight: 400;
}
.calling .handel__btn {
  width: 80%;
  height: 43px;
  background-color: #0c0c0c;
  border: 0;
  margin: 30px 0;
  color: #fff;
}

.precall {
  border-radius: 0px 0px 20px 0px !important;
}
.calling .hint-green {
  background: #038821;
  border: 0;
  width: 100%;
  clear: both;
  color: #fff;
  border-bottom-right-radius: 3ch;
}

.timer-group {
  height: 34px;
} */

.bar1,
.bar2,
.bar3 {
  width: 7px;
  height: 22px;
  background-color: #aaa;
  margin: 3px 3px;
  transition: 0.4s;
}

.change .bar1 {
  width: 0;
  background: none;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 14px solid #aaa;
}

.change .bar2 {
  display: none;
}
.ac__calling .mic-un {
  display: none;
}
.ac__calling .btn-mic {
  background: none;
  color: #aaa;
  border: 0;
}
.ac__calling .mic .mic-top {
  display: none;
}
.ac__calling .mic .mic-un {
  display: block;
}
.ball-loader-ball {
  will-change: transform;
  height: 6.181818px;
  width: 6.181818px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  -webkit-animation: grow 1s ease-in-out infinite alternate;
  animation: grow 1s ease-in-out infinite alternate;
  transform-origin: 50% 50%;
}
.ball-loader-ball.ball1 {
  margin-right: 3px;
}
.ball-loader-ball.ball2 {
  margin-right: 3px;
  -webkit-animation-delay: -0.33s;
  animation-delay: -0.33s;
}
.ball-loader-ball.ball3 {
  -webkit-animation-delay: -0.66s;
  animation-delay: -0.66s;
}

@-webkit-keyframes grow {
  0% {
    transform: scale(1);
    background-color: #fff;
  }
  50% {
    background-color: #fff;
  }
  100% {
    transform: scale(0.2);
    background-color: #fff;
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
    background-color: #fff;
  }
  50% {
    background-color: #fff;
  }
  100% {
    transform: scale(0.2);
    background-color: #fff;
  }
}

.calling {
  background: #3b3b3b;
  color: #fff;
  text-align: center;
  border-bottom-right-radius: 3ch;
  border-bottom-left-radius: 3ch;
}
.calling .hint {
  background: #bd4130;
  border: 0;
  width: 100%;
  clear: both;
  color: #fff;
  height: 52px;
  border-bottom-left-radius: 3ch;
  border-bottom-right-radius: 3ch;
}
.precall {
  border-radius: 0px 0px 20px 0px !important;
}
.calling .hint-green {
  background: #038821;
  border: 0;
  width: 100%;
  clear: both;
  color: #fff;
  border-bottom-right-radius: 3ch;
}
.timer-group {
  height: 34px;
}

.hint-call {
  background: #bd4130;
  border: 0;
  width: 100%;
  clear: both;
  color: #fff;
  height: 53px;
  border-radius: 0px 0px 20px 20px;
}
.hint-call:hover {
  opacity: 0.8;
}
.calling .icon-call {
  height: 19px;
  width: 20px;
}
.calling .hint:hover {
  opacity: 0.8;
}
.avatar {
  width: 90px;
  margin: 38px 0;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #07830b;
}
.ac__calling {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #0c0c0c;
  height: 44px;
  line-height: 63px;
}

.ac__calling .btn-ac {
  background: none;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ac__calling .btn-ac:hover {
  background: #1e1e1e;
}
#calls .btn-default:hover {
  color: #ccc;
}
.calling h4 {
  font-size: 20px;
  color: #fff;
}
.calling p {
  color: #ccc;
}
.text-algin {
  text-align: left;
  padding-left: 20px;
  color: #ccc;
}
.icon__calling {
  width: 30px;
  margin-right: 10px;
}
.btn-bus {
  display: flex;
}

.calling .btn-default {
  width: 30%;
  height: 40px;
  background: none;
  color: #fff;
  border: 0;
  margin-bottom: 20px;
  font-size: 30px;
}
.calling .btn-default span {
  display: block;
  color: #999;
  font-size: 10px;
  font-weight: 400;
}
.calling .handel__btn {
  width: 80%;
  height: 43px;
  background-color: #0c0c0c;
  border: 0;
  margin: 30px 0;
  color: #fff;
}
.item-db {
  display: flex;
  justify-content: space-around;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.flex-call {
  display: flex;
  margin: 9px;
}
.ball-loader {
  margin-left: 5px;
}

.histrory {
  padding: 10px 0;
  border-bottom: 1px dotted #ccc;
}
.histrory:hover {
  background: #cccccc38;
}
.user_name {
  font-size: 14px;
  font-weight: bold;
}

.histrory .flex-his {
  display: flex;
  justify-content: space-between;
}
.histrory .text-title {
  color: #0c0c0c;
  font-weight: bold;
}
.histrory .pull-right h4 a,
.histrory .pull-right h4 {
  padding: 0px 0px 3px;
  margin: 0;
}
.media-left {
  margin-right: 10px;
}
.histrory .pull-right p {
  margin: 0;
  color: #575757;
  font-size: 13px;
}
.histrory .media-body {
  text-align: center;
}
.histrory .media-body p {
  margin: 0;
}
.miss-color {
  color: red !important;
}
.wap-his {
  width: 350px;
}
/* serach */
#custom-search-input {
  margin: 10px;
  margin-top: 10px;
  padding: 0;
}
#custom-search-input .input-group {
  width: 100%;
  display: flex;
}

#custom-search-input .search-query {
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 0;
  border: 0;
  height: 31px;
  background: #5b5b5b;
}

#custom-search-input button {
  border: 0;
  background: #292828;
  height: 31px;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  right: 0;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #d9230f;
  cursor: unset;
  z-index: 2;
}

.wap-his .search-query:focus {
  z-index: 0;
}

.wap-his .btn-tranfer {
  background: #112123;
  color: #13a8a8;
  border: 0;
  padding: 5px 14px;
  border-radius: 15px;
}
.wap-his .list-tranfer {
  height: 217px;
  overflow: auto;
}
.wap-his .list-tranfer::-webkit-scrollbar {
  width: 8px;
}
.wap-his .list-tranfer::-webkit-scrollbar-track {
  background-color: #e7e7e7;
}
.wap-his .list-tranfer::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border: 1px solid rgba(92, 92, 92, 0.5);
  border-radius: 10px;
}
.wap-his .list-tranfer::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}
.wap-his .list-tranfer ul li {
  list-style: none;
  text-align: left;
  padding: 5px 0;
}
.wap-his .list-tranfer ul li a {
  color: #fff;
  text-decoration: none;
}
.wap-his .list-tranfer ul {
  padding: 0 10px;
}
#button-hangup-incoming {
  display: inline-block;
  background-color: #ec2f0e;
  padding: 4px 30px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
#button-hangup-incoming {
  display: inline-block;
  background-color: #ec2f0e;
  padding: 4px 30px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
/* Other Styles */
#calls .hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
#calls button:disabled {
  cursor: not-allowed;
}
#calls .digit,
#calls .dig {
  float: left;
  padding: 10px 30px;
  width: 30px;
  font-size: 2rem;
  cursor: pointer;
}
#calls .sub {
  font-size: 0.8rem;
  color: grey;
}

#button-call {
  display: inline-block;
  background-color: #66bb6a;
  padding: 4px 30px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  /* float: left; */
  cursor: pointer;
}
#hangup {
  display: inline-block;
  background-color: #ec2f0e;
  padding: 4px 30px;
  margin: 10px;
  color: white;
  border-radius: 4px;
 /* float: left; */
  cursor: pointer;
}
#calls .botrow {
  margin: 0 auto;
  width: 280px;
  clear: both;
  text-align: center;
  font-family: "Exo";
}
#calls .digit:active,
#calls .dig:active {
  background-color: #e9e9e9;
}
#button-call:hover {
  background-color: #81c784;
}
#hangup:hover {
  background-color: #ec6c55;
}
#calls .dig {
  float: left;
  padding: 10px 20px;
  margin: 10px;
  width: 30px;
  cursor: pointer;
}
