.calling {
  background: #3b3b3b;
  /* width: 290px; */
  color: #fff;
  text-align: center;
  height: 524px;
  /* border-radius: 20px; */
  /* padding: 10px 0 0 0; */
  border-bottom-right-radius: 3ch;
  border-bottom-left-radius: 3ch;
}

.calling .hint {
  background: #bd4130;
  border: 0;
  width: 100%;
  clear: both;
  color: #fff;
  height: 45px;
  border-bottom-left-radius: 3ch;
  border-bottom-right-radius: 3ch;
}

.calling .hint:hover {
  opacity: 0.8;
}

.avatar {
  width: 90px;
  margin: 38px 0;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #07830b;
}

.ac__calling {
  width: 100%;
  display: flex;
  background: #0c0c0c;
  height: 44px;
  line-height: 4.5rem;
}

.ct__calling {
  width: 25%;
}

.calling h4 {
  font-size: 20px;
  color: #fff;
}

.calling p {
  color: #ccc;
  font-size: 14px;
}

.text-algin {
  text-align: left;
  padding-left: 20px;
}

.icon__calling {
  width: 30px;
}

.btn-bus {
  display: flex;
}

.calling .btn-default {
  width: 30%;
  height: 40px;
  background: none;
  color: #fff;
  border: 0;
  margin-bottom: 20px;
  font-size: 30px;
}
.calling .btn-default span {
  display: block;
  color: #999;
  font-size: 10px;
  font-weight: 400;
}
.calling .handel__btn {
  width: 80%;
  height: 43px;
  background-color: #0c0c0c;
  border: 0;
  margin: 30px 0;
  color: #fff;
}

.precall {
  border-radius: 0px 0px 20px 0px !important;
}
.calling .hint-green {
  background: #038821;
  border: 0;
  width: 100%;
  clear: both;
  color: #fff;
  border-bottom-right-radius: 3ch;
}

.timer-group {
  height: 34px;
}
