html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.flr {
  float: right;
}

.fw-divider-solid {
  border-bottom: 1px #0e2b61 solid;
}
.menu-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
}

/* .card {
  position: relative;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  padding: 10px;
  margin: 100px;
  display: none;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.text-center {
  text-align: center;
}

.spinner-div {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 20vh;
}

.space-below {
  margin-bottom: 1rem;
} */

.txt-phone {
  margin-top: 3%;
  background-color: #f0f3f6;
}

.txt-phone::after {
  display: block;
  content: "";
  clear: both;
}

.txt-phone .input {
  width: 90%;
  float: left;
  padding: 3px 0px 3px 10px;
  box-sizing: border-box;
}

.txt-phone .input input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 20px;
  font-weight: bolder;
  /* font-family: "montserrat"; */
  line-height: 36px;
  vertical-align: middle;
  background: transparent;
}
.txt-phone .reset {
  width: 10%;
  float: left;
  padding: 6px;
}
.txt-phone .reset button {
  width: 100%;
  padding: 10px 10px 10px 0;
}

.enter-phone {
  padding-top: 24px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.call-action {
  padding-top: 2.2rem;
}
.btn-call {
  display: inline-flex;
  height: 6rem;
  color: aliceblue;
  background-color: green;
  border: aliceblue;
  width: 100%;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  place-content: center;
  align-items: center;
  font-weight: 600;
  /* border-radius: 6ch; */
  border-bottom-right-radius: 2ch;
  border-bottom-left-radius: 2ch;
}

.lb-phone {
  font-size: 32px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #262626;
}
.icon__call {
  width: 24px;
}

.digit {
  cursor: pointer;
}
.digit:active,
.dig:active {
  background-color: #e6e6e6;
}

.btn__back {
  border: none;
  background: transparent;
}

.error__number__phone {
  color: red;
}
.correct__number__phone {
  color: white;
}

.avatar-connect {
  width: 44px;
  height: 44px;
  border-radius: 24px;
}

.mr {
  margin-right: 10px;
}
.containerConnect {
  display: flex;
  /* Kích hoạt tính năng Flexbox cho container */
  flex-direction: row;
  /* Sắp xếp các phần tử con theo hàng */
}

.column {
  flex: 1;
  /* Cho mỗi cột chiếm một nửa không gian có sẵn */
  padding: 10px 0;
  /* Thêm khoảng cách bên trong cho mỗi cột */
  /* border: 1px solid #ccc; */
  /* Thêm đường viền cho mỗi cột */
}

.btn {
  display: inline-flex;
  place-content: center;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  font-weight: 600;
  font-family: inherit;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0px;
  cursor: inherit;
  letter-spacing: 0px;
  outline: 0px;
  border-radius: 4px;
  --fw-icon-color: currentColor;
}

.btn--normal {
  min-width: var(--fw-button-min-width, 80px);
  height: 32px;
}
.btn--primary {
  background-color: rgb(38, 73, 102);
  color: rgb(255, 255, 255);
  border-color: rgb(18, 52, 77);
  background-image: linear-gradient(rgb(38, 73, 102), rgb(18, 52, 77));
}

.btn--secondary[disabled] {
  background: rgb(235, 239, 243);
  border-color: rgb(207, 215, 223);
  color: rgb(146, 162, 177);
}
.btn.disabled,
.btn[disabled] {
  cursor: not-allowed;
}

.btn--normal {
  min-width: var(--fw-button-min-width, 80px);
  height: 32px;
}

.btn--has-label.btn--normal .btn--label {
  padding-inline: var(--fw-button-label-vertical-padding, 12px);
  padding-block: 0px;
}

.btn .btn--label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  line-height: 20px;
}

.btn--label,
.btn--loader {
  transition: opacity 0.3s ease-out 0s;
}

.btn--primary:focus:not([disabled]),
.btn--primary:hover:not([disabled]) {
  background-color: #12344d;
  background-image: none;
  color: rgb(255, 255, 255);
}

.btn--primary.disabled,
.btn--primary[disabled] {
  background-image: linear-gradient(to bottom, #92a2b1, #7b8e9f);
  border-color: #7b8e9f;
  color: rgba(255, 255, 255, 0.5);
}
.btn.disabled,
.btn[disabled] {
  cursor: not-allowed;
}

.connect--lable {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
.connect--p {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.pb-15 {
  padding-bottom: 15px;
}

.notification {
  display: flex;
  /* align-items: center; */
  /* background-color: #f0f4f8; Màu nền của thông báo */
  border: 1px solid #f7f7f7; /* Đường viền */
  border-radius: 8px; /* Bo góc */
  padding: 15px; /* Khoảng cách bên trong */
  max-width: 500px; /* Độ rộng tối đa */
  margin: 20px auto; /* Canh giữa và khoảng cách từ trên */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
}

.notification-icon {
  font-size: 14px;
  color: #198754; /* Màu xanh của icon */
  margin-right: 10px;
}

.notification-content {
  display: flex;
  flex-direction: column;
}

.notification-title {
  font-size: 14px;
  font-weight: 600;
  color: rgba(23, 43, 77, 1); /* Màu tiêu đề */
  margin-bottom: 5px;
  line-height: 20px;
}

.notification-message {
  font-size: 14px;
  color: rgba(23, 43, 77, 1); /* Màu nội dung */
  font-weight: 400;
  line-height: 20px;
}

.container-main {
  display: flex;
  flex-direction: row;
  background-color: #12344d;
  padding: 5px 10px;
  font-size: 14px;
}
.left-content-main {
  display: flex;
  flex: 1;
  padding-right: 10px;
}
.left-content-main label {
  margin-right: 5px;
  color: #ffffff;
}
.right-content-main {
  padding-left: 10px;
  line-height: 36px;
}
.btn-main button {
  background-color: #1b3b4f;
  color: #ffffff;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.appTxtService {
  cursor: pointer;
}
.dropdown--extend {
  display: none;
}
