html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.flr{
  float: right;
}

.fw-divider-solid {
  border-bottom: 1px #0e2b61 solid;
}
.menu-app{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
}

/* .card {
  position: relative;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  padding: 10px;
  margin: 100px;
  display: none;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.text-center {
  text-align: center;
}

.spinner-div {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 20vh;
}

.space-below {
  margin-bottom: 1rem;
} */

.txt-phone {
  padding: 16px 8px;
}

.enter-phone{
  padding-top: 48px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.call-action{
  padding-top: 10rem;
}
.btn-call{
  /* display: inline-flex;
  place-content: center;
  align-items: center;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  font-weight: 600;
  font-family: inherit;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0px;
  cursor: inherit;
  letter-spacing: 0px;
  outline: 0px;
  border-radius: 4px;
  --fw-icon-color: currentColor; */
  display: inline-flex;
  height: 6rem;
  color: aliceblue;
  background-color: green;
  border: aliceblue;
  width: 100%;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  place-content: center;
  align-items: center;
  font-weight: 600;
  /* border-radius: 6ch; */
  border-bottom-right-radius: 2ch;
  border-bottom-left-radius: 2ch;
}

.lb-phone {
  font-size: 32px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #262626;
}