html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.flr {
  float: right;
}

.fw-divider-solid {
  border-bottom: 1px #0e2b61 solid;
}
.menu-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
}

/* .card {
  position: relative;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  padding: 10px;
  margin: 100px;
  display: none;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.text-center {
  text-align: center;
}

.spinner-div {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 20vh;
}

.space-below {
  margin-bottom: 1rem;
} */

.txt-phone {
  margin-top: 3%;
  background-color: #f0f3f6;
}

.txt-phone::after {
  display: block;
  content: "";
  clear: both;
}

.txt-phone .input {
  width: 90%;
  float: left;
  padding: 3px 0px 3px 10px;
  box-sizing: border-box;
}

.txt-phone .input input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 20px;
  font-weight: bolder;
  /* font-family: "montserrat"; */
  line-height: 28px;
  vertical-align: middle;
  background: transparent;
}
.txt-phone .reset {
  width: 10%;
  float: left;
  padding: 4px;
}
.txt-phone .reset button {
  width: 100%;
  padding: 8px 8px 8px 0;
}

.enter-phone {
  padding-top: 42px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.call-action {
  padding-top: 3.2rem;
}
.btn-call {
  display: inline-flex;
  height: 6rem;
  color: aliceblue;
  background-color: green;
  border: aliceblue;
  width: 100%;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  place-content: center;
  align-items: center;
  font-weight: 600;
  /* border-radius: 6ch; */
  border-bottom-right-radius: 2ch;
  border-bottom-left-radius: 2ch;
}

.lb-phone {
  font-size: 32px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #262626;
}
.icon__call {
  width: 24px;
}

.digit {
  cursor: pointer;
}
.digit:active,
.dig:active {
  background-color: #e6e6e6;
}

.btn__back {
  border: none;
  background: transparent;
}

.error__number__phone {
  color: red;
}
.correct__number__phone {
  color: white;
}
.correct__number__phone {
  margin-top: 9px;
}
