<html lang="en">
  <head>
    <title>Video-Phone</title>
    <script src="https://pbx-stg.oncallcx.vn/cti/ancti/ancti.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tippy.js@6/animations/scale.css"
    />
  </head>

  <body>
    <button style="float: right" id="call" onclick="clickCall()" type="button">
      <span id="status"></span><i id="hook" class="material-icons">Call</i>
    </button>
    <video id="localView" playsinline autoplay muted></video>
    <video id="remoteView" playsinline autoplay muted></video>

    <div
      style="
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
          Helvetica Neue, Arial, sans-serif;
        font-size: 14px;
      "
    >
      <div dir="ltr">
        <a
          href="#"
          rel="noreferrer"
          target="_blank"
          heap-ignore="true"
          class="_ar_hide_"
          _ar_hide_="width:62px;height:19px;margin:0px;position:static;display:inline-block;"
          style="text-decoration: unset; padding: 10px 10px"
        >
          file record
        </a>
        <br />
        <!-- <audio
                src="https://hcm.fstorage.vn/pbx-stg/PBX_CRM/cr_20231213-101742_d2513899694f2517_cc2ftistg-c767fb89e698082e.wav?AWSAccessKeyId=ZB3J75FAFEPIBPA8ZBV6&Signature=5p3cGTNgpTRw17kWz5WycimXu9g%3D&Expires=1703477777"
                controls autoplay loop style="height: 30px;margin-top: 10px;">
            </audio> -->

        <audio controls preload="auto" style="height: 30px; margin-top: 10px">
          <source
            src="https://hcm.fstorage.vn/pbx-stg/PBX_CRM/cr_20240115-154515_cc2ftistg-43b2f132d7a9a5de.wav?AWSAccessKeyId=ZB3J75FAFEPIBPA8ZBV6&Expires=1706181406&Signature=Jrg2W05%2B7ZTThPObNGtBgwbjtWE%3D"
          />
        </audio>
        <!-- 
            <audio controls>
                <source src="../../audio/audio1.wav" />
            </audio> -->
      </div>
    </div>

    <script>
      var isChrome =
        /Chrome/.test(navigator.userAgent) &&
        /Google Inc/.test(navigator.vendor);
      if (!isChrome) {
        $("#iframeAudio").remove();
      } else {
        $("#playAudio").remove(); // just to make sure that it will not have 2x audio in the background
      }

      let agent = AnCti.newAgent();
      let webphone;
      let audio = new Audio();
      audio.autoplay = true;

      agent.startApplicationSession({
        username: "phuln6@fpt.com",
        password: "Phuln6!!!",
      });

      agent.on("applicationsessionstarted", (event) => {
        webphone = agent.getDevice("sip:1973@term.115");

        // tell server that we want to use WebRTC (error handling omitted)
        webphone.monitorStart({ rtc: true });
      });

      // if WebRTC creates a media-stream we bind it to the corresponding elements
      agent.on("localstream", (event) => {
        document.getElementById("localView").srcObject = event.stream;
      });

      agent.on("remotestream", (event) => {
        document.getElementById("remoteView").srcObject = event.stream;
        audio.srcObject = event.stream;
      });

      document.clickCall = () => {
        let call = webphone.calls[0];
        if (!call) {
          // click without an active call -> start a video call to number 23
          webphone.makeCall("0917114338", {
            autoOriginate: "doNotPrompt",
            audio: true,
            video: true,
          });
        } else if (call.localConnectionInfo == "alerting") {
          // click while we have an alerting call -> accept it
          call.answerCall({ audio: true, video: true });
        } else {
          // otherwise we release the call
          call.clearConnection();
        }
      };
    </script>
    <script>
      var CryptoJS = window.CryptoJS;

      // Mã hóa dữ liệu
      const message = "uservisitor89.freshdesk.com";
      const secretKey = "mySecretKey12345";
      const encrypted = CryptoJS.AES.encrypt(message, secretKey).toString();
      console.log("Encrypted message: ", encrypted);

      // Giải mã dữ liệu
      const decrypted = CryptoJS.AES.decrypt(encrypted, "5454545");
      const originalMessage = decrypted.toString(CryptoJS.enc.Utf8);
      console.log("Decrypted message: ", decrypted);

      var data = {
        nameDomain: "uservisitor89.freshdesk.com",
        email: "user.visitor.89@gmail.com",
        passPPX: "nfcAm%HL7v",
      };
      // Encrypt
      var ciphertext = CryptoJS.AES.encrypt(
        JSON.stringify(data),
        "secret key 123"
      ).toString();
      console.log("ciphertext message: ", ciphertext);

      // Decrypt
      var bytes = CryptoJS.AES.decrypt(ciphertext, "secret key 123");
      var decryptedData = JSON.parse(bytes.toString(CryptoJS.enc.Utf8));

      console.log("Decrypted data: ", decryptedData); // [{id: 1}, {id: 2}]
    </script>
  </body>
</html>
