<html lang="en">

<head>
    <title>CTI App</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script async src="{{{appclient}}}"></script>
    <!-- <script async src="https://static.freshdev.io/fdk/2.0/assets/fresh_client.js"></script> -->
    <link rel="stylesheet" type="text/css" href="https://static.freshdev.io/fdk/2.0/assets/freshdesk.css">

    <script src="https://pbx-stg.oncallcx.vn/cti/ancti/ancti.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>

    <style>
        .options fw-icon {
            vertical-align: middle;
        }
    </style>


<body>
    <div class='form'>
        <form>
            <input type='text' name='field1' id='name' placeholder='Your Name' />
            <input type='email' name='field2' id='email' placeholder='Email Address' />
            <input type='submit' value='Send' />
        </form>
    </div>
</body>

</html>